:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 100%;
}

@media (min-width: 400px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  body {
    font-size: 1.3rem;
  }
}
/*-------MAIN DIV-------*/
.main {
  display: flex;
  flex-direction: column;
  background: pink;
  margin-top: 64px;
  align-items: center;
  justify-content: center;
}
/*-------NAVIGATION-------*/
#navbar {
  --navbar-height: 40px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
  display: flex;
  height: 100%;
}
.navbar-link {
  color: var(--navbar-text-color);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  justify-content: center;
  width: 100%;
  margin: 4px;
  border-radius: 5px;
}
.navbar-link:focus,
.navbar-link:hover {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}
.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  margin-left: auto;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: var(--navbar-text-color);
}
.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}
.navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    left 0.2s ease-in-out, right 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.navbar-menu.detached {
  left: 0;
  right: 0;
}
#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar.opened .navbar-links {
  padding: 1em;
  max-height: none;
}
.detached .navbar-links {
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}
@media screen and (min-width: 425px) {
  .navbar-toggle {
    display: none;
  }

  #navbar .navbar-menu,
  #navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  #navbar .navbar-links,
  #navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
  }

  #navbar .navbar-link:last-child {
    margin-right: 0;
  }
}
/*-------SECTION HEADINGS-------*/
section > h2 {
  max-height: 30px;
  text-align: center;
}
/*-------ABOUT-------*/
.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.about-detail-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.about-detail {
  max-width: 400px;
  height: auto;
  padding: 10px;
  text-align: center;
  margin: 2px;
}
/*-------TECH-------*/
.tech-container {
  display: flex;
  flex-wrap: wrap;
}
.tech-item {
  flex: 1 1 24%;
  justify-content: center;
  text-align: center;

  margin-top: 10px;
}
.tech-item img {
  width: 75px;
  height: 75px;
}
.tech-item a {
  text-decoration-line: none;
}
.tech-item h4 {
  color: gray;
  margin-bottom: 45px;
}
.connect-container {
  display: flex;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*-------PROJECTS-------*/
.projects-container {
  display: flex;
  justify-content: center;
}
.project {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
img.project-image {
  margin: 20px;
  max-width: 250px;
  max-height: 250px;
  margin: 20px;
  max-width: 100%;
  height: auto;
}
.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/*-------CONNECT-------*/
.connect-container {
  display: flex;
  flex-wrap: wrap;
}
.connect-item {
  margin: 20px;
}
/*-------CONTACT-------*/
.contact-container {
  width: auto;
  max-width: 500px;
}
#contact-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
  width: 300px;
}
.form-row {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5px;
}
.form-row label {
  display: none;
}
.form-row input {
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
.form-row textarea {
  align-self: center;
  width: 100%;
}
.submit {
  margin: 10px;
  padding: 10px;
  width: 75px;
  height: 40px;
  text-align: center;
  align-self: flex-end;
}
footer {
  display: flex;
  justify-content: center;
}
/*-------Background-canvas-------*/
.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
